body {
	text-align: center;
	text-decoration: none;
	margin: 0;
}
header {
	background-color: #f15b31;
	color: #fff;
	padding: 30px 20px;
}
a, h1, h2 {
	text-transform: uppercase;
}
h1 {
	font-family: "Raleway";
	/*color: #0D2C40;*/
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}
main {
	width: 850px;
	margin: 35px auto;
}
nav {
	background-color: #00a6b3;
	color: #ffffff;
	padding: 20px 0;
	border-bottom: 2px solid transparent;
}
a {
	font-family: "Raleway";
	color: #ffffff;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	margin:20px;
}
a:hover {
	border: 2px solid white;
	padding: 20px 0;
	color: orange;
}
h2 {
	font-family: "Raleway";
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}
p {
	font-family: "Driod Serif";
	line-height: 26px;
	font-size: 18px;
}
img {
	margin: 40px 8px 0;
}
footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright {
	float: left;
}
.message {
	float: right;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
.name {
	color: #F15B31;
	font-weight: 700;
}